{{- $quaySecretObj := (lookup "v1" "Secret" .Values.konflux.tsf.namespace "tsf-quay-integration") -}}
{{- $secretData := (required "Secret tsf-quay-integration not found in namespace" (get $quaySecretObj "data")) -}}
{{- $quaytoken := (required "token field not found in secret" (get $secretData "token")) | b64dec | toString -}}
{{- $organization := (required "organization field not found in secret" (get $secretData "organization")) | b64dec | toString -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: quaytoken
  namespace: image-controller
type: Opaque
stringData:
  quaytoken: {{ $quaytoken | quote }}
  organization: {{ $organization | quote }}
